Repository jetlinks/jetlinks-ui-components: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, prettier --write

.lintstagedrc.json:

{
  "**/*.{vue,js,jsx,ts,tsx}": [
    "npm run lint",
    "prettier --write"
  ],
  "**/*.{html,css,less,md}": [
    "prettier --write"
  ]
}

feat: 添加docker
  package.json
  site/Dockerfile
  site/build.sh
  site/nginx.conf
Due: none

update: 修改Dockerfile文件
  site/Dockerfile
Due: none

style: 描边按钮边框样式
  components/Button/style/index.less
Due: prettier --write

update: 样式文件提取为单独文件
  components/MonacoEditor/monaco.vue
  components/MonacoEditor/style/index.less
  components/MonacoEditor/style/index.ts
Due: npm run lint, prettier --write

update: less文件删除deep
  components/Descriptions/style/index.less
  components/style.ts
Due: npm run lint, prettier --write

update: 删除style标签
  components/ColorPicker/color-picker.vue
Due: npm run lint, prettier --write

update: 更新tablecard样式引入
  components/TableCard/tablecard.vue
Due: npm run lint, prettier --write

update: 更新empty组件样式
  components/Empty/style/index.less
Due: prettier --write

updata:修改less样式引入
  components/Scrollbar/style/scrollbar.less
  components/Upload/style/index.less
  components/style.ts
  site/src/router/demoRoutes.js
Due: npm run lint, prettier --write

update: Monaco样式提取为单独文件
  components/MonacoEditor/monaco.vue
  components/MonacoEditor/style/index.less
  components/MonacoEditor/style/index.ts
Due: npm run lint, prettier --write

update: ColorPicker样式修改
  components/ColorPicker/color-picker.vue
  yarn.lock
Due: npm run lint, prettier --write

update: Descriptions组件样式优化
  components/Descriptions/style/index.less
  components/style.ts
Due: npm run lint, prettier --write

update: Empty组件样式优化
  components/Empty/style/index.less
Due: prettier --write

update: 优化docker配置
  package.json
  site/nginx.conf
Due: none

update: 优化iframe
  site/src/components/DemoBox.vue
  site/src/router/index.js
Due: npm run lint, prettier --write

refactor: Card组件更换为CardSelect
  components/Card/index.ts
  components/CardSelect/CardSelect.vue
  components/CardSelect/demo/checkbox.vue
  components/CardSelect/demo/disabled.vue
  components/CardSelect/demo/horizontal.vue
  components/CardSelect/demo/index.vue
  components/CardSelect/demo/radio.vue
  components/CardSelect/demo/single-disabled.vue
  components/CardSelect/index.md
  components/CardSelect/index.ts
  components/CardSelect/style/index.less
  components/components.ts
Due: npm run lint, prettier --write

update: 修改Scrollbar样式引入
  components/Scrollbar/style/scrollbar.less
  components/Upload/style/index.less
  components/style.ts
  site/src/router/demoRoutes.js
Due: npm run lint, prettier --write

update: TableCard
  components/TableCard/tablecard.vue
  components/components.ts
Due: npm run lint, prettier --write

update: 添加样式引入
  components/style.ts
Due: npm run lint, prettier --write

update: 修改CardSelect样式引入方式
  components/CardSelect/style/index.ts
  site/src/router/demoRoutes.js
Due: npm run lint, prettier --write

update: 修改Popconfirm样式引入
  components/AIcon/style/index.less
  components/AIcon/style/index.ts
  components/Modal/style/index.less
  components/Modal/style/index.ts
  components/Popconfirm/popconfirm.vue
  components/Popconfirm/style/index.less
  components/Popconfirm/style/index.ts
  components/Result/style/index.less
  components/Result/style/index.ts
  components/style.ts
Due: npm run lint, prettier --write

update: 修改AIcon样式引入
  components/AIcon/aIcon.vue
  components/AIcon/style/index.less
Due: npm run lint, prettier --write

style: Button组件描边按钮边框样式
  components/Button/style/index.less
Due: prettier --write

update: 修改Result样式引入
  components/Result/noFound.vue
  components/Result/result.vue
  components/Result/style/index.less
Due: npm run lint, prettier --write

update: 修改Modal样式引入
  components/Modal/modal.vue
  components/Modal/style/index.less
Due: npm run lint, prettier --write

style: 修改Popconfirm样式引入;；修改修改AIcon样式引入；修改Result样式引入；修改Modal样式引入
  components/AIcon/aIcon.vue
  components/AIcon/style/index.less
  components/AIcon/style/index.ts
  components/Modal/modal.vue
  components/Modal/style/index.less
  components/Modal/style/index.ts
  components/Popconfirm/popconfirm.vue
  components/Popconfirm/style/index.less
  components/Popconfirm/style/index.ts
  components/Result/noFound.vue
  components/Result/result.vue
  components/Result/style/index.less
  components/Result/style/index.ts
  components/TableCard/tablecardType.ts
  components/style.ts
  site/src/router/demoRoutes.js
Due: npm run lint, prettier --write

feat: 添加npm发布
  .npmrc
  .tools.config.js
  package.json
Due: npm run lint, prettier --write

update: version
  package.json
Due: none

update: 修改Message导出方式
  components/Message/demo/basic.vue
  components/Message/index.ts
Due: npm run lint, prettier --write

update: 修改Message导出方式
  components/Message/index.ts
Due: npm run lint, prettier --write

update: 修改JUI为jetlinks-ui-components
  components/Message/demo/basic.vue
  components/Tree/demo/basic.vue
  components/Tree/demo/digData.vue
  package.json
  site/vite.config.ts
  tsconfig.json
Due: npm run lint, prettier --write

update: 修改CardSelect文档
  components/CardSelect/CardSelect.vue
  components/CardSelect/index.md
Due: npm run lint, prettier --write

fix: 解决样式不生效问题
  components/style.ts
  site/vite.config.ts
Due: npm run lint, prettier --write

update: v1.0.0-alpha.3
  package.json
Due: none

style: 修改Monaco样式
  components/style.ts
  site/vite.config.ts
Due: npm run lint, prettier --write

update: 优化ProLayout示例
  components/Descriptions/descriptions.vue
  components/Ellipsis/ellipsis.vue
  components/ProLayout/Demo/index.vue
  components/ProLayout/Demo/top.vue
  components/ProLayout/index.md
  plugin/md/index.ts
  plugin/md/markdownToVue.ts
  site/src/components/DemoBox.vue
  site/src/router/demoRoutes.js
  site/src/router/index.js
Due: npm run lint, prettier --write

fix: 样式防冲突
  components/ProTable/src/ProTable.tsx
  components/ProTable/style/index.less
Due: npm run lint, prettier --write

style: 更新TableCard组件样式
  components/TableCard/style/index.less
Due: prettier --write

style: 更新TableCard组件样式
  components/TableCard/style/index.less
  components/components.ts
Due: npm run lint, prettier --write

style: 修改site中引入样式方式
  site/src/main.js
Due: npm run lint, prettier --write
